<section class="co module cof-base flexcol">
  <h4 class="divider center">{{{localize "COFBASE.Sidebar.title"}}}</h4>
  <a class="button" href="https://github.com/BlackBookEditions/foundry-cof2-base" rel="nofollow noopener" target="_blank" data-tooltip="{{localize 'CO.Sidebar.githubTooltip'}}">
    <i class="fa-brands fa-github" inert></i>
    {{localize "CO.Sidebar.github"}}
  </a>
    <a
    class="button"
    href="https://github.com/BlackBookEditions/foundry-cof2-base/issues/new/choose"
    rel="nofollow noopener"
    target="_blank"
    data-tooltip="{{localize 'CO.Sidebar.bugReportTooltip'}}"
  >
    <i class="fa-solid fa-bug" inert></i>
    {{localize "CO.Sidebar.bugReport"}}
  </a>
  <a class="button" href="https://black-book-editions.fr/catalogue.php?id=1961" rel="nofollow noopener" target="_blank" data-tooltip="{{localize 'COFBASE.Sidebar.cof2Tooltip'}}">
    <i class="fa-solid fa-book" inert></i>
    {{localize "COFBASE.Sidebar.cof2"}}
</section>